* {
    font-size: 12px;
	/*font-family: 'DroidSansRegular';*/
	line-height: 22px;
}

a:link {
	color: #0A3387;
}

body {
	position:relative;
	background:#a2a2a2;
	min-height: 100%;
	margin: 0;
	font-family: 'DroidSansRegular';
}

table {
	border-collapse:collapse;
	padding: 0px;
	border-spacing: 0px;
}

table tr td {
	padding: 0px;
}

button {
	letter-spacing: 0px;
}

input {
	border:1px solid #cccccc;
	padding: 2px;
	margin: 2px;
}

textarea {
	padding: 2px;
	margin: 2px 0px 0px 2px;
}

div.apex_size_bar, select {
	margin-left: 2px;
	margin-bottom: 2px;
}

label {
	margin-right: 10px;
}

label a:link {
	color: #333333;
}

span.optional, a.optional-w-help {
	/*margin-left: 10px;*/
}

p.evenement-titre {
	font-family: 'DroidSansBold';
	font-size: 15px;
	border-bottom: 1px solid #aaaaaa;
	margin-top: 0px;
	margin-bottom: 0px;
}

body.popup-page {
	background-color: #ffffff;
}

#entete{
	background:#000 url(../images/fond-html.png) repeat-x left bottom;
	margin:0;
	color:#FFF;
	padding-bottom:7px;
}

#header{
	height:28px; /*grandeur quand le menu rapide est fermé 28 ou auto pour ouvrir - zone noir */
	margin:0 auto;
	color:#FFF;	
	position:relative;
	overflow:hidden;
	text-align:left;
}

#logo_poly{
	margin: auto;
}
	
#menu{
	bottom:35px;
	padding-top:30px;
	margin-left:150px;
}

#wrapper {
	margin: 0 auto;
	background:#FFF;
	min-height: 800px;
	height: auto !important;
	height: 100%;
	width: 980px;
}

#body {
	margin-top: 10px;
}

#topbar {
	padding-left: 15px;
}

a.logo {
    color: #fff!important;
    font-size: 1.2em;
    letter-spacing: 0.2em;
	text-decoration:none;
	line-height:2em;
}
	
a.logo span {
	font-family: 'DroidSansBold', sans-serif!important;
	font-weight:600;
	margin-right:5px;
	font-size:16px;
}
	
a.logo span.slogan {
	font-family: 'DroidSerifRegular', sans-serif!important;
	font-weight:normal;
	font-size: 14px;
	margin-left:5px;
}

a.navbar-link {
	color: #ffffff;
}

#navbar {
	margin-top: -3px;
}
	
#tabspoly{
	background:#fff url(../images/abeillepoly.png) no-repeat top;
	height:96px;
	position:relative;
	font-weight:bold;
	font-family: 'DroidSansBold', sans-serif!important;
	/*font-size:0.92em;*/
	margin-left: 20px;
	/*letter-spacing: 1px;*/
	text-transform: uppercase;
	vertical-align: bottom;
}

.clearfix {
	width: 980px;
}

.dhtmlMenuLG2 {
	margin-top: 5px;
}

.dhtmlMenuLG2 li.dhtmlMenuItem1, .dhtmlMenuLG2 li.dhtmlMenuItem {
	background-image: none;
	background-color: #999999;
	border:1px solid #666666;
	padding: 0px 2px 0px 2px;
}

.dhtmlMenuLG2 li.dhtmlMenuItem1 a, .dhtmlMenuLG2 li.dhtmlMenuItem a {
	font-family: 'DroidSansBold';
	font-size: 11px;
	text-transform: uppercase;
	margin: 0px;
}

.dhtmlSubMenu2 a.dhtmlSubMenuN:link, .dhtmlSubMenu2 a.dhtmlSubMenuN:visited {
	color: #060606;
}

.tab-holder div, .tab-holder div div.current, .tab-holder .first-current {
	margin-right: 10px;
	margin-top: 10px;
	display: inline;
	padding-left: 4px;
	font-size: 12px;
	font-family: 'DroidSansBold', sans-serif !important;
	position: relative;
	bottom: 0px;
	left: 0px;
}

.tab-holder div {
	width: 160px;
}

.ui-datepicker {
	width: 255px;
}

.report-holder .dataalt, .report-holder .data {
	margin-bottom: 10px;
	padding: 5px;
	outline:1px solid #aaaaaa;
	border-bottom:1px solid #cccccc;
	width: 100%;
}

.report-holder .dataalt {
	background-color: #F0F0F0;
}

.report-holder .data {
	background-color: #F0F0F0;
}

.rc-content-main .dataalt span p, .report-standard-alternatingrowcolors .data span p {
	margin-top: 0px;
}

#tabspoly .first-non-current a, #tabspoly .non-current a {
    color: #000000;
    font-size: 12px !important;
    text-decoration: none;
}

#tabspoly .first-non-current, #tabspoly .non-current {
    float: left;
    display: inline;
    font-size: 12px !important;
	border-bottom:1px solid #999999;
	position: relative;
	bottom: 0px;
	left: 0px;
}

#tabspoly .first-non-current:hover, #tabspoly .non-current:hover {
	border-bottom:1px solid #cc0000;
	font-size: 12px !important;
	color: #000000;
}

#tabspoly .current, #tabspoly .first-current {
    float: left;
    display: inline;
    font-size: 12px !important;
	border-bottom:1px solid #cc0000;
	color:#cc0000;
}

#tabspoly .first-non-current a:hover, #tabspoly .non-current:hover a,
#tabspoly .current a, #tabspoly .first-current a, #tabspoly .first-current span a {
	color: #cc0000;
	font-size: 12px !important;
    text-decoration: none;
}

#logoportail {
    left: 0;
    position: absolute;
    top: 10px;
}

.rounded-corner-region .rc-blue-top {
    width: 100%;
    float: left;
	background-image: url('../images/ssp_title_bg_long.jpg');
	font-family: 'DroidSansBold';
	letter-spacing: 2px;
	line-height: 14px;
}

.rounded-corner-region .rc-faded-top {
    width: 100%;
    float: left;
	font-family: 'DroidSansBold';
	letter-spacing: 2px;
	line-height: 14px;
	background: url('../images/ssp_faded_title_bg_long.jpg') no-repeat scroll 0 0 transparent;
	margin-top: 5px;
}

.rounded-corner-region .rc-faded-top .rc-faded-top-r {
	background: url('../images/ssp_faded_title_bg_long_right.jpg') no-repeat scroll 100% 0 transparent;
    color: #e23d39;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    padding: 2px 16px 2px 10px;
}

.rounded-corner-region .rc-title {
	margin: 0px;
}

.rounded-corner-region .rc-body .rc-content-main {
    background-color: white;
	background-image: none;
}

.rounded-corner-region .rc-blue-top .rc-blue-top-r {
	background-image: url('../images/ssp_title_bg_long_right.jpg');
}

.rounded-corner-region a {
	color: #0A3387;
}

ul.tabbed-navigation-list {
	margin-right: 14px;
	margin-bottom: 5px;
}

ul.tabbed-navigation-list li {
	margin: 15px 5px 0px 0px;
}

/* TABS - left */
.tabbed-navigation-list li a {
	background-image: url('../images/tab-l-2.png');
}

/* TABS - right */
.tabbed-navigation-list li span {
	background-image: url('../images/tab-r-2.png');
}

#piedpage, .push{
	height:63px; 
}

.push{
	display:block;
}
#piedpage{

	background-color:#ccc;
	margin:0 auto 0 ;
	border-top: 1px solid #c00;
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 8px;
	font-size:.80em;
	color:#666;
	/* pour ie 8*/
	position:relative;
}

#piedpage a{
	color:#666;
}

#piedpage a:hover{
	color:#000;
}

#piedpage img {
	margin-top: -10px;
}

#piedpage #nav-outils{
	margin-top:20px;
	position:relative;
	height:28px
}

/*#piedpage #nav-outils .span-8{
	text-align:right;
}*/

#piedpage #reseau-social{
	position:absolute;
	left:250px;
	bottom:0;
	text-align:left;
	font-size: 10px;
}

#piedpage #reseau-social img{
	margin-right:15px;
	margin-top:2px;
}

/*.left {
    float: left !important;
}*/

.right {
    float: right !important;
}

.span-18 {
    width: 710px;
}

.report-standard th.header, .apexir_WORKSHEET_DATA th {
    background-color: #7F7F7F;
    background-repeat: repeat-x;
    border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
	background-image : url("../images/bidon.gif");
    color: #FFFFFF;
    /*padding: 2px 10px;*/
	padding: 2px;
	font-family: 'DroidSansBold';
	text-transform: uppercase;
}

.report-standard th.header div a, .apexir_WORKSHEET_DATA th div, .report-standard th.header {
	text-decoration: none;
	font-size: 11px;
}

.report-standard th.header div, .apexir_WORKSHEET_DATA td, .apexir_WORKSHEET_DATA th {
	padding: 2px 5px 2px 5px;
	line-height: 15px;
}

#apexir_WORKSHEET_REGION {
	padding-top: 10px;
}

.apexir_WORKSHEET_DATA {
	border:0px solid #ffffff;
}

.apexir_WORKSHEET_DATA tr.odd:hover td, .apexir_WORKSHEET_DATA tr.even:hover td {
	background-color: #cccccc !important;
}

button.button-alt1 {
	background: url("../images/bt-alt1-r.png") no-repeat scroll right center transparent !important;
}

button.button-alt1 span {
	background: url("../images/bt-alt1-l.png") no-repeat scroll left center transparent;
    color: #f6f6f6;
}

button span {
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'DroidSansBold';
	padding-top: 1px;
}

table.tbl-body {
	margin-left: 10px;
}

table.report-standard {
	outline: 1px solid #999999;
	margin: 8px 0px 8px 0px;
	border-width: 0px;
}

span.fielddata {
	font-size: 10px;
}

.fielddatabold {
	font-family: 'DroidSansRegular';
	font-size: 12px;
	/*font-weight: normal;*/
}

.navBarLangue {
color:white;
}